p {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-logo {
  padding: 5px 5px 5px 0;
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-bottom: 2px solid #24292e;
}

.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;

  margin-top: 80px;
  background: whitesmoke;
}
.form-control {
  max-width: 350px;
}
.box-title-input {
  color: whitesmoke;
  margin-bottom: 50px;
  background-color: #145e43;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px;
}

.container-cards {
  padding: 10px;
  background-color: whitesmoke;
}
.card {
  padding: 5px;
}
.container-text {
  display: flex;
}

.container-text i {
  font-weight: bold;
  margin-left: 5px;
}

.container-text p {
  color: rgba(0, 0, 0, 0.4);
}

.view-doc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.view-doc-add {
  display: flex;
  margin: 5px;
}

.documents {
  background-color: whitesmoke;
  margin-bottom: 30px;
  max-height: 400px;
    overflow-y: scroll;
  min-height: 400px;
}

.container-btn-add {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.btn-icon {
  background-color: #145e43;
  border-radius: 100%;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #24292e;
  cursor: pointer;
  font-size: 50px;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 5px;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #aaa;
  text-decoration: none;
}

.add-name {
}

.add-description {
  width: 100%;
  margin-left: 20px;
}
.input-name {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-limit {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: flex-end;
}

.container-docs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.alert {
  margin-left: 10px;
  margin-right: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h5 {
  color: #145e43;
}
.container-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-loading-more {
  background-color: #145e43;
  color: white;
  border-radius: 2rem;
  border: none;
}
